
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Education</title>
	<!-- Bootstrap core CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<!-- Full Calender CSS -->
	<link href="~/css/fullcalendar.css" rel="stylesheet">
	<!-- Owl Carousel CSS -->
	<link href="~/css/owl.carousel.css" rel="stylesheet">
	<!-- Pretty Photo CSS -->
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<!-- Bx-Slider StyleSheet /css -->
	<link href="~/css/jquery.bxslider.css" rel="stylesheet"> 
	<!-- Font Awesome StyleSheet CSS -->
	<link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- DL Menu CSS -->
    <link href="~/js/dl-menu/component.css" rel="stylesheet">
	<link href="~/svg/style.css" rel="stylesheet">
	<!-- Widget CSS -->
	<link href="~/css/widget.css" rel="stylesheet">
	<!-- Typography CSS -->
	<link href="~/css/typography.css" rel="stylesheet">
	<!-- Shortcodes CSS -->
	<link href="~/css/shortcodes.css" rel="stylesheet">
	<!-- Custom Main StyleSheet CSS -->
	<link href="~/style.css" rel="stylesheet">
	<!-- Color CSS -->
	<link href="~/css/color.css" rel="stylesheet">
	<!-- Responsive CSS -->
	<link href="~/css/responsive.css" rel="stylesheet">
	<!-- SELECT MENU -->
	<link href="~/css/selectric.css" rel="stylesheet">
	<!-- SIDE MENU -->
	<link rel="stylesheet" href="~/css/jquery.sidr.dark.css">
</head>

<body>
    	<!--HEADER START-->
	<header id="header_2">
    		<!--kode top bar start-->
		<div class="top_bar_2" style="background-color:deepskyblue!important; display:flex">
	    		<div class="container">
	    			<div class="row">
							<div class="logo_wrap"style="width:19%; padding:5px">
								<a href="#"><img src="extra-images/logo_2.png" alt=""></a>
							</div>
					<ul class="top_nav" style="float:left; padding-left:150px; margin:20px;padding-top:10px">
						<li><a href="blog-detail.html">Facebook</a></li>
						<li><a href="event-detail.html">Zalo</a></li>
						<li><a href="our-courses.html">Twitter</a></li>
						<li><a href="contactus.html">LinkedIn</a></li>
					</ul>
					<div><em class="contct_2" style="float:right; padding-top:40px; font-size:14pt"><i class="fa fa-phone"></i> Hotline: 0123456789</em></div>
	    			</div>
	    		</div>
	    	</div>
    		<!--kode top bar end-->
		</header>

		<!--HEADER END-->

@RenderBody();
		<!--FOOTER START-->
		<footer>

			<!--EDU2 FOOTER CONTANT WRAP START-->
				<div class="container">
					<div class="row">
						<!--EDU2 FOOTER CONTANT DES START-->
						<div class="col-md-3">
							<div class="widget widget-links">
								<h5>Information</h5>
								<ul>
									<li><a href="#">About us</a></li>
									<li><a href="#">Our Stories</a></li>
									<li><a href="#">My Account</a></li>
									<li><a href="#">Our History</a></li>
									<li><a href="#">Sprcialist Info</a></li>
								</ul>
							</div>
						</div>
						<!--EDU2 FOOTER CONTANT DES END-->

						<!--EDU2 FOOTER CONTANT DES START-->
						<div class="col-md-3">
							<div class="widget widget-links">
								<h5>Student Help</h5>
								<ul>
									<li><a href="#">My Info</a></li>
									<li><a href="#">My Questions</a></li>
									<li><a href="#">F.A.Q</a></li>
									<li><a href="#">Serch Courses</a></li>
									<li><a href="#">Latest Informations</a></li>
								</ul>
							</div>
						</div>
						<!--EDU2 FOOTER CONTANT DES END-->

						<!--EDU2 FOOTER CONTANT DES START-->
						<div class="col-md-3">
							<div class="widget wiget-instagram">
								<h5>Instagram</h5>
								<ul>
									<li><a href="#"><img src="extra-images/instagram-1.jpg" alt=""/></a></li>
									<li><a href="#"><img src="extra-images/instagram-2.jpg" alt=""/></a></li>
									<li><a href="#"><img src="extra-images/instagram-3.jpg" alt=""/></a></li>
									<li><a href="#"><img src="extra-images/instagram-4.jpg" alt=""/></a></li>
									<li><a href="#"><img src="extra-images/instagram-5.jpg" alt=""/></a></li>
									<li><a href="#"><img src="extra-images/instagram-6.jpg" alt=""/></a></li>
								</ul>
							</div>
						</div>
						<!--EDU2 FOOTER CONTANT DES END-->

						<!--EDU2 FOOTER CONTANT DES START-->
						<div class="col-md-3">
							<div class="widget widget-contact">
								<h5>Contact</h5>
								<ul>
									<li>PO Box UN152468, 1 Street North, New Towm, California, USA</li>
									<li>Phone : <a href="#"> 5 (012) 4565 789</a></li>
									<li>Fax : <a href="#"> 5 (012) 4565 789</a></li>
									<li>Email : <a href="#"> Info@info.com</a></li>
								</ul>
							</div>
						</div>
						<!--EDU2 FOOTER CONTANT DES END-->
					</div>
				</div>
		</footer>
		<!--FOOTER END-->
		<!--COPYRIGHTS START-->
		<div class="edu2_copyright_wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="edu2_ft_logo_wrap">
							<a href="#"><img src="extra-images/ft_logo.png" alt=""/></a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="copyright_des">
							<span>&copy; All Rights reserved. Powered By <a href="#">KODEFOREST</a></span>
						</div>
					</div>

					<div class="col-md-3">
						<ul class="cards_wrap">
							<li><a href="#"><img src="extra-images/visacard.png" alt=""/></a></li>
							<li><a href="#"><img src="extra-images/mastercard.png" alt=""/></a></li>
							<li><a href="#"><img src="extra-images/americancard.png" alt=""/></a></li>
							<li><a href="#"><img src="extra-images/card.png" alt=""/></a></li>
							<li><a href="#"><img src="extra-images/descoverycard.png" alt=""/></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--COPYRIGHTS START-->
    </div>
    <!--KF KODE WRAPPER WRAP END-->
	<!--Bootstrap core JavaScript-->
	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<!--Bx-Slider JavaScript-->
	<script src="~/js/jquery.bxslider.min.js"></script>
	<!--Owl Carousel JavaScript-->
	<script src="~/js/owl.carousel.min.js"></script>
	<!--Pretty Photo JavaScript-->
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<!--Dl Menu Script-->
	<script src="~/js/dl-menu/modernizr.custom.js"></script>
	<!--Dl Menu Script-->
	<script src="~/js/dl-menu/jquery.dlmenu.js"></script>
	<!--Dl Menu Script-->
	<script src="~/js/dl-menu/modernizr.custom.js"></script>
	<!--Dl Menu Script-->
	<script src="~/js/dl-menu/jquery.dlmenu.js"></script>
	<!--Full Calender JavaScript-->
	<script src="~/js/moment.min.js"></script>
	<script src="~/js/fullcalendar.min.js"></script>
	<script src="~/js/jquery.downCount.js"></script>
	<!--Image Filterable JavaScript-->
	<script src="~/js/jquery-filterable.js"></script>
	<!--Accordian JavaScript-->
	<script src="~/js/jquery.accordion.js"></script>
	<!--Number Count (Waypoints) JavaScript-->
	<script src="~/js/waypoints-min.js"></script>
	<!--v ticker-->
	<script src="~/js/jquery.vticker.min.js"></script>
	<!--select menu-->
	<script src="~/js/jquery.selectric.min.js"></script>
	<!--Side Menu-->
	<script src="~/js/jquery.sidr.min.js"></script>
	<!--Custom JavaScript-->
	<script src="~/js/custom.js"></script>

    
</body>
</html>
